body {
    width: 80vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
}
a{
    font-size: 1.5rem;
    margin: 1rem;
}

select {
    font-size: 1.2rem;
    margin: 1rem;
}

input {
    font-size: 1.2rem;
    margin: 1rem;
    width: 25%;
    text-align: right;
    padding: 8px;
}

button {
    font-size: 1.2rem;
    margin: 1rem;

}

#content {
    border: green 1px solid;
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}

img {
    width: 250px;
}
.name {
    word-wrap: break-word;
}